= simple_form_for(@artist) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, required: true
    = f.input :email, type: "email", required: true
    = f.input :drone, required: true
    = f.input :phone, required: true
    = f.input :location, required: true
    = f.input :distance, required: true

  .form-actions
    = f.button :submit
