#artist_form.modal.fade{:role => "dialog"}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        =image_tag 'https://s3.amazonaws.com/unlimitedskiesdrone/unlimitedskieslogo-60.png'
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        
      .modal-body
        %h2.center Aerial Artist? Sign up here!
        .panel-body
          = simple_form_for(@artist) do |f|
            = f.error_notification

            .form-inputs
              = f.input :name
              = f.input :email
              = f.input :drone
              = f.input :phone
              = f.input :location
              = f.input :distance, label: 'Distance you are willing to travel'

            .form-actions.center
              = f.button :submit, "Send", class: 'btn-lg'

        .panel-footer.center
          %p Make money doing what you love!
          .buttons