= simple_form_for(@order) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :email, type: "email"
    = f.input :phone
    = f.input :location
    = f.input :special

  .form-actions
    = f.button :submit
