!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Thanks for reaching out, #{@order.name}
    %p
      Your message has been successfully recieved, and we will have an Aeriel Artist contact you regarding scheduleding a time that works with your schedule. 
      %br/
    %p 
      Here is a copy of your request.

    %dl.dl-horizontal
      %dt Phone:
      %dd #{@order.phone}
      %br/
      %dt Location:
      %dd #{@order.location}
      %br/
      %dt Special:
      %dd #{@order.special}
      %br/

    = image_tag 'https://s3.amazonaws.com/unlimitedskiesdrone/logo.png'
