.gallery
  -if @image.pic.present?
    %div
      = image_tag(@image.pic(:large))

.contain
  .row.black
    .row__inner
      - @order.images.each do |image|
        =link_to order_image_path(image.order_id, image.id) do 
          .tile
            .tile__media 
              =image_tag(image.pic(:medium))
              .tile__details
                -if image.description
                  = image.description
                .tile__title
                  -if image.title
                    = image.title
.container
  .page-header
    = link_to home_gallery_path, :class => 'btn btn-default' do
      %span.glyphicon.glyphicon-arrow-left
      Back to Gallery
    - if user_signed_in?
      = link_to order_path(@order), :class => 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt
        See Order
      = link_to edit_order_image_path(@order,(@image)), :class => 'btn btn-primary' do
        %span.glyphicon.glyphicon-pencil
        Edit

    %h1 Show image

  %dl.dl-horizontal
    %dt Title:
    %dd= @image.title
    %dt Description:
    %dd= @image.description
    


